App/FusionLOSApi/FusionLOSApi/Service References/MortgegeOrigination/MortgagebotOriginationImport2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.mortgagebot.com" elementFormDefault="qualified" targetNamespace="http://www.mortgagebot.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://qa2-publicservices.qa.mortgagebotlos.com/MortgagebotOriginationImport.svc?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/Mortgagebot.LOS" />
  <xs:element name="ImportMortgageOriginationData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mortgagebot.LOS" minOccurs="0" name="customerInformation" nillable="true" type="q1:LosCustomerImportDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ImportMortgageOriginationDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mortgagebot.LOS" minOccurs="0" name="ImportMortgageOriginationDataResult" type="q2:LosCustomerImportStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>